:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);
    --clr-neutral-500: hsl(241, 52%, 60%);
    --clr-neutral-700: hsl(56, 100%, 50%);
    --clr-neutral-600: hsl(0, 86%, 61%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.logo
{
background-image: url("6.jpg");
background-repeat: no-repeat;
background-size: 100%;
margin-bottom: 100px;


}

#submit{
    position: absolute;
    left: 950px;
    top: 130px;
    padding: 10px;
    background-color: orangered;
    border-radius: 5px;
    z-index: 20;
}
#submit:hover{
    position: absolute;
    left: 950px;
    top: 130px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    z-index: 20;
}

.details{
    
    position: absolute;
    left: 800px;
    top: 20px;
    
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    color:black;
    margin-bottom: 100px;
}


.member
{
    left: 1225px;
    top: 20px;
    position: absolute;
    color:black;
    z-index: 5;
    font-size: 15px;
    text-align: right;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 50px;
}
.cse{
    left: 1130px;
    position: absolute;
    top: 20px;
    color:black;
    text-align: center;
    z-index: 5;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 100px;
}
.aud{
    top: 500px;
    margin-top: 50px;
}
.hed
{
    left: 250px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 40px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 100px;
   
   }
body {
    display: grid;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
    padding-right: 15em;

}

